<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aait.oms">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oms"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".commission.CommissionWithdrawActivity"/>
        <activity android:name=".orders.OrderDetailsActivity" />
        <activity android:name=".users.UserDetailActivity" />
        <activity android:name=".commission.UsersAccountActivity" />
        <activity android:name=".users.MyReferenceActivity" />
        <activity android:name=".orders.MyOrdersActivity" />
        <activity android:name=".orders.OrderInvoiceActivity" />
        <activity android:name=".orders.ConfirmOrderActivity" />
        <activity android:name=".orders.SummaryActivity" />
        <activity android:name=".orders.CartActivity" />
        <activity android:name=".orders.OrderActivity" />
        <activity
            android:name=".ui.SendOtpActivity"
            android:theme="@style/Theme.Oms.NoActionBar" />
        <activity
            android:name=".ui.OtpActivity"
            android:theme="@style/Theme.Oms.NoActionBar" />
        <activity
            android:name=".ui.LogInActivity"
            android:theme="@style/Theme.Oms.NoActionBar" />
        <activity android:name=".product.ProductListActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".supplier.SupplierListActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/Theme.Oms.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>